.idea
.vscode

node_modules

# Build artifacts
/build
/dist

# Secret Files - DO NOT COMMIT
*.SECRETS.*
*secrets*
*.secret
*.key
.env
.env.local
.env.production

/.metadata/
backend/azure-environment-variables.json
